<section class="section-social container-fluid">
    <div class="container-fluid mx-auto py-2">
{#        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto my-5 text-center">
            <h4 class="color1 mx-auto text-center text-uppercase">
                Mes réseaux sociaux
            </h4>
        </div>#}

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mx-auto pb-3">
            <ul style="list-style: none;" class="row mx-auto text-center col-12 col-sm-10 col-md-8 col-lg-7 col-xl-4">

                <li class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <a href="https://keybase.io/eosia" target="_blank" rel="noopener noreferrer nofollow"
                       title="eosia sur keybase">
                        <i class="fab fa-keybase fa-2x color1" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <a href="https://github.com/Eosia" target="_blank" rel="noopener noreferrer nofollow"
                       title="repository github d'eosia">
                        <i class="fa fa-github-square fa-2x color1" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <a href="mailto:hello@eosia.dev" target="_blank" rel="noopener noreferrer nofollow"
                       title="adresse email d'eosia">
                        <i class="fa fa-envelope fa-2x color1" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <a href="tel:+32478095432" target="_blank" rel="noopener noreferrer nofollow"
                       title="numéro de téléphone d'eosia">
                        <i class="fa fa-phone-square fa-2x color1" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <a href="https://www.facebook.com/Eosia.Dev" target="_blank" rel="noopener noreferrer nofollow"
                       title="page facebook d'eosia">
                        <i class="fab fa-facebook-square fa-2x color1" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <a href="https://twitter.com/eosia" target="_blank" rel="noopener noreferrer nofollow"
                       title="compte twitter d'eosia">
                        <i class="fab fa-twitter fa-2x color1" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</section>