{% extends 'base.html.twig' %}

{% block title %}Eosia Web Developer | Accueil{% endblock %}



{% block body %}


    <!--section page accueil start-->

    <section class="section-accueil container-fluid mx-0 mt-3">

        <!--bloc 1 start-->
        <div class="accueil-child-1 container-fluid">

           <div class="row">

               <!--bloc gauche-->
               <div class="accueil-child-1-item-left col-12 col-sm-12 col-md-8 col-lg-7 col-xl-5 d-flex flex-column justify-content-center align-items-center mx-auto">
                   <p class="text-left mx-auto d-flex flex-column justify-content-center align-items-center text-uppercase text-xl">
                       Bienvenue !
                   </p>


                   <p class="text-left mx-auto d-flex flex-column justify-content-center align-items-center mt-3 h4">
                       Je suis <span class="text-iam display-5 mt-4"></span>
                   </p>

                   <script>var typed = new Typed('.text-iam', {
                           strings: ["WEB DEVELOPPEUR JUNIOR", "PENTESTER AUTODIDACTE", "AMATEUR D'ADMINSYS"],
                           typeSpeed: 60,
                           backSpeed: 30,
                           loop: true,
                       });
                   </script>
               </div>

               <!--bloc droit-->
               <div class="accueil-child-1-item-right col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3 mx-auto d-flex flex-column justify-content-center align-items-center">
                   <div class="mx-auto justify-content-center align-items-center">
                       <figure class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto text-center">
                           <img src="{{ asset('assets/img/avatar.png') }}" alt="avatar eosia" loading="lazy"
                                aria-label="avatar eosia" class="img-fluid img-avatar rounded-circle">

                           <figcaption class="hidden">
                               avatar eosia
                           </figcaption>
                       </figure>
                   </div>
               </div>

           </div>

        </div>
        <!--bloc 1 end-->

        <!--bloc 2 bio start-->
        <div class="accueil-child-2 mt-5 mb-2">

            <div class="accueil-child-2-item text-l d-flex flex-column">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3 d-flex justify-content-start align-items-center">
                    <p class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-left">
                        Auparavant pâtissier pendant 15 ans, j'ai décidé de me lancer le défi d'une nouvelle carrière dans le milieu du web.
                    </p>
                </div>


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end align-items-center">
                    <p class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-left">
                        J'ai d'abord commencé à me forder aux bases du pentesting via des plateformes comme Udemy ou Alphorm,
                        ce qui m'a permis d'évoluer en autodidacte pour acquérir de solides bases.
                    </p>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3 d-flex justify-content-start align-items-center">
                    <p class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-left">
                        Ensuite, j'ai complété cet apprentissage par une année en web designer à l'ipeps de Fléron puis un bachelier de web développeur à
                        l'ipeps de Seraing.
                    </p>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end align-items-center">
                    <p class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-left">
                        Lors de mon cursus orienté backend, j'ai eu l'occasion de travailler avec des frameworks tel que Angular ou Symfony, ce qui m'a
                        donné une facilité à travailler tant coté frontend que backend.
                    </p>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3 d-flex justify-content-start align-items-center">
                    <p class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-left">
                        Mon affinité va cependant vers Symfony avec lequel je travaille principalement pour mes projets.
                    </p>
                </div>

            </div>

        </div>
        <!--bloc 2 end-->

        <div class="container-btn container-fluid">

            <div class="row">

                    <a class="col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 mx-auto text-uppercase btn text-l"
                       href="{{ path('skills') }}" >
                        Voir mes compétences
                    </a>

                    <a class="col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 text-uppercase mx-auto btn btn-portfolio text-l"
                       href="{{ path('portfolio') }}" >
                        Voir mon portfolio
                    </a>

            </div>

        </div>


    </section>

    <!--section page accueil stop-->



{% endblock %}
